
# Port number for the backend server
PORT = 


# MongoDB connection string for the database
# Connection string for main database
#CONNECTION_MONGODB_URL = 

# connection string for dev database
CONNECTION_MONGODB_URL = 

# connection string for redis database
CONNECTION_REDIS_URL = 

# token secret key    
ACCESS_TOKEN_SECRET = 

# email service configuration
EMAIL_SERVICE = 
EMAIL_USER = 
EMAIL_PASSWORD = 